@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-top: 0px;
    padding: 6vh 9.2vw;
    background: linear-gradient(36deg, rgba(34,193,195,1) 0%, rgba(39,157,221,1) 32%, rgba(45,253,109,1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
}
.redes-sociais {
    text-decoration: none;
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.redes-sociais a{
    text-decoration: none;
    color: white;
}

.redes-sociais a:hover{
    color: #004966;
}

.title {
    
    font-size: 60px;
}

.subtitle {
    
    font-size: 22px;
    font-weight: 400;
}

.project-in-list {
    margin-top: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
}
.project-in-list ul{
    list-style-type: decimal-leading-zero;
    margin-top: 5px;
}

.list-title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 0px ;
}

.list-content {
    margin-top: 8px;
}
.list-content a {
    font-size: 20px;
    text-decoration: underline;
    color: #007aaa;
}
.list-content a:hover {
    font-size: 20px;
    text-decoration: underline;
    color: #004966;
}
.list-content p {
    margin-bottom: 5px;
    font-size: 20px;
}
.list-content strong {
    font-size: 25px;
}
.list-content ul{
    list-style-type: decimal;
    margin-top: 5px;
}
.list-content li{
    margin-top: 5px;
    font-size: 18px;
}

.footer {
    margin-top: 40px;
    height: 5vh;
    background: linear-gradient(36deg, rgba(34,193,195,1) 0%, rgba(39,157,221,1) 32%, rgba(45,253,109,1) 100%);

}

@media only screen and (max-device-width: 700px) {
    .project-in-list {
        padding-left: 20vw;
        padding-right: 5vw;
    }
}