body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono',monospace;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(3, 0, 63) 0%, rgb(12, 0, 82) 100%);
    background-position: center bottom;
    min-height: 100vh;
    background-repeat: no-repeat;
  }
  
.container {
  margin-top: 20px;
    text-align: center;
}
  
.page-title {
    color:#ffffff;
    margin: 0 0 5px;
}
  
.page-subtitle {
    color:#ffffff;
    margin-top: 5px;
}
  
.page-logo {
    width: 200px;
}

.calculadora {
  border: #dfdfdf solid;
  margin: 10px 35vw;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

#resultado {
    color: #ffffff;
    font-size: 20px;
}

input {
    width: 50px;
  }

button {
    background-color: #214c9c;
    width: 100px;
    height: 40px;
    color: #dfdfdf;
    font-size: 20px;
    border: none;
}

button:hover {
  background-color: #88aef5;
  color: #001846;
}